{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'room/style.css' %}">

<div class="header">
chat
</div>

{% comment %} ルーム作成 {% endcomment %}
<h2>ルームを新しく作成する<h2>
<div class="create-room-box">
    <form action="/room/" method="post">
        {% csrf_token %}
        <input placeholder="ルーム名を指定してください" type="text" name="room_name" value="">
        <input type="submit" class="send" name="button" value="作成"> 
    </form>
</div>

{% comment %} ルーム一覧 {% endcomment %}
<h2>ルーム</h2>
<ul class="select-room-box">
{% for room in rooms %}
    <a href="/chat/{{ room.room_name }}">{{ room.room_name }}</a>
    <div class="describe">{{room.describe}}</div>
{% endfor %}
</ul>

{% comment %} roomの数が0ならば {% endcomment %}
{% if (room_id)==0 %}
<h2>ルームを作成しましょう!</h2>
{% endif %}
    